.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.meus-filmes .voltar{
    padding: 10px;
    color: beige;
    background-color: #116feb;
    border-radius: 7px;
    border-style: none;
    
}

.meus-filmes .voltar a{
    text-decoration: none;
    color: beige;
    padding: 10px;
}

.meus-filmes .voltar:hover{
    background-color: #05e905;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
}

.meus-filmes .voltar a:hover{
    color: black;
}

.lista-filmes .acess{
    color: white;
}

.lista-filmes .imagens img{
    height: 250px;
    width: 200px;
}

.lista-filmes .excluir{
    cursor: pointer;
    position: relative;
    left: 170px;
    top: -10px;
}

.containerFavorite .lista-filmes {
  display: grid;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr); 
}


@media (min-width: 550px) {
  .containerFavorite .lista-filmes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .containerFavorite .lista-filmes {
    grid-template-columns: repeat(6, 1fr);
  }
}


